body{
   
}





.container{
    height: 50px;
    display: flex;
    justify-content: center;
    background-color:blue;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.title{
    font-size: medium;
    width: 20px;
    justify-content: center;
    
}

.Search{
    height: 75px;
    width: 70px;
    flex-direction: column;
}

.city{
    width: 75px;
    height: 30px;
    border: soild black 3px;
    background-color:plum ;
}
.Citties{
    display:flex;
    flex-direction: column;
    margin-top:50px;
    width: 80px;
    justify-content: center;
    font-size: medium;
    margin-bottom: 6px;
    
}

.button{
    width: 65px;
    height: 20px;
    margin-bottom: 10px;
}

.daily{
    align-items: center;
    display:flex;
    border: soild 10px black;
    justify-content:center;
}

#cityName{

    display: flex;
    justify-content: flex-start;
}


.one{
   flex-direction: row;
   background-color: lightskyblue;
}

.main{
    display: flex;
    justify-content: space-between;
}

.current{
    width: 70%;
    justify-content: center;
    background-color: lightblue;
    padding-left: 45px;
    padding-top: 50px;
    border-radius: 10px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.forecast{
    background-color: aqua;
    width: 200px;
    margin-left: 30px;
    padding-left: 20px;
    border-radius: 20px;
}